function pow 3
    push argument 0
    pop local 0
    push argument 1
    pop local 1
    push constant 1
    pop local 2

label loop
    push local 1
    push constant 0
    eq
    if-goto end

    push local 0
    push argument 0
    call mult 2
    pop local 0

    push local 1
    push constant 1
    sub
    pop local 1

    push local 1
    push local 2
    gt
    if-goto loop

label end
    push local 0
    return
